{% extends 'base.html' %}
{% block bodytitle %}
    <span class="glyphicon glyphicon-music">编辑歌曲</span>

{% endblock %}
{% block content %}
<div class="row">
        <div class="container col-lg-10 col-lg-offset-1">
            <hr>
            <form method="post" action="{% url 'music_edit' music.id%}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label >歌曲名称</label>
                    <input type="text" name="name"  class="form-control" value="{{ music.name }}">
                </div>
                <div class="form-group">
                    <label >歌手</label>
                    <select  class="form-control" name="singers" multiple>
                        {% for singer in singers %}
    {#                                            获取值#}
    {#                                          <option id="{{ type.id }}">{{ type.name }}</option>#}
    {#                                        获取id#}
    {#                                      <option value="{{ type.id }}">{{ type.name }}</option>#}
                            {% if singer.id in music.singers %}
                            <option value="{{ singer.id }}" selected="selected">{{ singer.name }}</option>
                            {% else %}
                            <option value="{{ singer.id }}" >{{ singer.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                <label >歌曲类型</label>
                    <select  class="form-control" name="type" >
                        {% for type in types %}
{#                                            获取值#}
{#                                          <option id="{{ type.id }}">{{ type.name }}</option>#}
{#                                        获取id#}
{#                                      <option value="{{ type.id }}">{{ type.name }}</option>#}
                            {% if type.id == music.type %}
                                <option value="{{ type.id }}" selected="selected">{{ type.name }}</option>
                            {% else %}
                                <option value="{{ type.id }}">{{ type.name }}</option>

                            {% endif %}
                        {% endfor %}
                    </select>
              </div>
{#                <div class="form-group">#}
{#                    <label >歌曲图片</label>#}
{#p#}
{#                </div>#}
              <div class="form-group">
                <label for="exampleInputFile">图片</label>
                <a href="{{ music.img }}">原图</a>
                  <input type="file" name="img" accept="image/png,image/jpeg,image/gif" value="更改图片">
                <p class="help-block">只能选择.jpg/.png/.gif文件.</p>
              </div>

                <div class="form-group">
                <label for="exampleInputFile">文件</label>
                    <a href="{{ music.file }}">原文件</a>
                <input type="file" name="file" accept="audio/mpeg">
                <p class="help-block">只能选择.mp3文件.</p>
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
</div>


{% endblock %}
