{% extends 'base.html' %}
{% block bodytitle %}
    <span class="glyphicon glyphicon-list">歌手列表</span>

{% endblock %}
{% block content %}

        <table class="table table-hover" id="list">
            <tr>
                <th>编号</th>
                <th>歌手名称</th>
                <th></th>
            </tr>
            {% for singer in singers %}
            <tr id="info">
                {% for id,info in singer.items %}
                    {% for i in info %}
                        <td>{{ i }}</td>
                    {% endfor %}
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'singer_edit' id %}">编辑</a>
                      <a class="btn btn-danger btn-xs" href="{% url 'singer_delete' id %}">删除</a>
                </td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </table>


    


{#    <script>#}
    {#alert('77');#}
{#        $.ajax({#}
{#            url:'http://192.168.1.200:8003/singer/list',#}
{#            success:function (res) {#}
                {#alert('123');#}
{#                var singers=res['singers'];#}
                {#alert(singers);#}
                {#console.log(singers);#}
{#                var list=document.getElementById("list");#}
{##}
{#                for(var i in singers){#}
{#                    var tr="<tr><td>"+singers[i][0]+"</td><td>"+singers[i][1]+"</td></tr>";#}
{#                    $('#list').append(tr);#}
{##}
{#                }#}
{##}
{#            }#}
{#        })#}
{#    </script>#}
{% endblock %}
{% block page %}
        <div class="col-lg-offset-2">
                    <nav aria-label="Page navigation">
                  <ul class="pagination">
                      {% if singersPageObj.has_previous %}
                    <li >
                      <a href="{% url 'singer_list' %}?page={{ singersPageObj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% endif %}

                      {% for page in singersPageObj.paginator.page_range %}
                          {% if page == singersPageObj.number %}
                          <li class="active"><a href="{% url 'singer_list' %}?page={{ page }}">{{ page}}</a></li>
                          {% else %}
                          <li><a href="{% url 'singer_list' %}?page={{ page }}">{{ page}}</a></li>
                          {% endif %}
                      {% endfor %}

                    {% if singersPageObj.has_next %}
                    <li>
                      <a href="{% url 'singer_list' %}?page={{ singersPageObj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
    </div>
{% endblock %}